<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674315571541-kd431nk9hhe33tavhis3qvosj5iaafv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674315571541-kd431nk9hhe33tavhis3qvosj5iaafv4</string>
	<key>API_KEY</key>
	<string>AIzaSyBTpCptxBVf5fjgswjcdtkTRvKVFddkVxg</string>
	<key>GCM_SENDER_ID</key>
	<string>674315571541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.prj1</string>
	<key>PROJECT_ID</key>
	<string>hastaneflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>hastaneflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674315571541:ios:ddaaa18c76470eebac9fdc</string>
</dict>
</plist>